.App {
  text-align: center;
  color: black;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header-subtitle {
  margin-top: -25px;
}

.Calendar-container {
  position: relative;
  height: 0;
  width: 90vw;
  min-height: 70vh;
}

.Calendar-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
